* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../img/header-banner.jpg");
  width: 100%;
}
header h1 {
  font-size: 4rem;
}
header h4 {
  font-size: 2rem;
}
header h6 {
  font-size: 1.3rem;
}
header .container {
  height: 100%;
}
header > div {
  background-image: url("../img/people.png");
  background-size: 40%;
  background-position: bottom right;
  background-repeat: no-repeat;
}
header .nav-link {
  color: white;
}
header .row:nth-child(2) {
  height: 90vh;
}

.statistic {
  background: url("../img/statistics-bg.png");
  background-size: cover;
}
.statistic .card {
  background: none;
}
.statistic #statisticImgCtn1:hover #statisticImg1, .statistic #statisticImgCtn1:hover #statisticImg4, .statistic #statisticImgCtn1:hover #statisticImg3, .statistic #statisticImgCtn1:hover #statisticImg2 {
  background-position: bottom left;
}
.statistic #statisticImgCtn2:hover #statisticImg2 {
  background-position: 75px 79px;
}
.statistic #statisticImgCtn3:hover #statisticImg3 {
  background-position: 150px 79px;
}
.statistic #statisticImgCtn4:hover #statisticImg4 {
  background-position: bottom right;
}
.statistic #statisticImg1, .statistic #statisticImg4, .statistic #statisticImg3, .statistic #statisticImg2 {
  margin: 0 auto;
  overflow: hidden;
  width: 79px;
  height: 79px;
  background: url(../img/sprite-home.png);
  background-position: top left;
  transition: 0.1s background-position;
}
.statistic #statisticImg2 {
  background-position: 75px 0;
}
.statistic #statisticImg3 {
  background-position: 150px 0;
}
.statistic #statisticImg4 {
  background-position: top right;
}

.whatis {
  box-shadow: inset 0 10px 20px -10px lightgray;
  padding-top: 6rem;
  padding-bottom: 5rem;
}
.whatis img {
  max-width: 100%;
}

.symptoms {
  background: url(../img/symptoms-bg.png);
  background-size: cover;
}
.symptoms .card {
  background: none;
}
.symptoms .card:hover h5 {
  color: #f12059;
}
.symptoms #symptomImgCtn1:hover #symptomImg1, .symptoms #symptomImgCtn1:hover #symptomImg6, .symptoms #symptomImgCtn1:hover #symptomImg5, .symptoms #symptomImgCtn1:hover #symptomImg4, .symptoms #symptomImgCtn1:hover #symptomImg3, .symptoms #symptomImgCtn1:hover #symptomImg2 {
  border-color: white;
  background-color: #f12059;
  background-position: 0 43%;
}
.symptoms #symptomImgCtn2:hover #symptomImg2 {
  border-color: white;
  background-color: #f12059;
  background-position: 43% 43%;
}
.symptoms #symptomImgCtn3:hover #symptomImg3 {
  border-color: white;
  background-color: #f12059;
  background-position: 87% 43%;
}
.symptoms #symptomImgCtn4:hover #symptomImg4 {
  border-color: white;
  background-color: #f12059;
  background-position: 2% 54%;
}
.symptoms #symptomImgCtn5:hover #symptomImg5 {
  border-color: white;
  background-color: #f12059;
  background-position: 44% 54%;
}
.symptoms #symptomImgCtn6:hover #symptomImg6 {
  border-color: white;
  background-color: #f12059;
  background-position: 87% 54%;
}
.symptoms #symptomImg1, .symptoms #symptomImg6, .symptoms #symptomImg5, .symptoms #symptomImg4, .symptoms #symptomImg3, .symptoms #symptomImg2 {
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  border: 2px dotted black;
  width: 100px;
  height: 100px;
  background: url(../img/sprite-home-v3.png);
  background-position: 0 20%;
  transition: 0.1s background-position;
}
.symptoms #symptomImg2 {
  background-position: 43% 20%;
}
.symptoms #symptomImg3 {
  background-position: 87% 20%;
}
.symptoms #symptomImg4 {
  background-position: 2% 31%;
}
.symptoms #symptomImg5 {
  background-position: 44% 31%;
}
.symptoms #symptomImg6 {
  background-position: 87% 31%;
}

.howToProtect .d-flex {
  height: 33%;
}
.howToProtect .d-flex.left {
  flex-direction: row-reverse;
  text-align: right;
}
.howToProtect h5 {
  cursor: pointer;
}
.howToProtect .protectItems:hover h5 {
  color: #f12059;
}
.howToProtect .row:nth-child(2) {
  background-image: url(../img/protect-bg.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center 10%;
}
.howToProtect #protectImgCtn1:hover #protectImg1, .howToProtect #protectImgCtn1:hover #protectImg6, .howToProtect #protectImgCtn1:hover #protectImg5, .howToProtect #protectImgCtn1:hover #protectImg4, .howToProtect #protectImgCtn1:hover #protectImg3, .howToProtect #protectImgCtn1:hover #protectImg2 {
  border-color: white;
  background-color: #f12059;
  background-position: 2% 90%;
}
.howToProtect #protectImgCtn2:hover #protectImg2 {
  border-color: white;
  background-color: #f12059;
  background-position: 86% 89%;
}
.howToProtect #protectImgCtn3:hover #protectImg3 {
  border-color: white;
  background-color: #f12059;
  background-position: 45.5% 100.5%;
}
.howToProtect #protectImgCtn4:hover #protectImg4 {
  border-color: white;
  background-color: #f12059;
  background-position: 45% 89%;
}
.howToProtect #protectImgCtn5:hover #protectImg5 {
  border-color: white;
  background-color: #f12059;
  background-position: 2% 101%;
}
.howToProtect #protectImgCtn6:hover #protectImg6 {
  border-color: white;
  background-color: #f12059;
  background-position: 86% 101%;
}
.howToProtect #protectImg1, .howToProtect #protectImg6, .howToProtect #protectImg5, .howToProtect #protectImg4, .howToProtect #protectImg3, .howToProtect #protectImg2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url(../img/sprite-home-v3.png);
  background-position: 2% 66%;
}
.howToProtect #protectImg2 {
  background-position: 86% 66%;
}
.howToProtect #protectImg3 {
  background-position: 45.5% 77.5%;
}
.howToProtect #protectImg4 {
  background-position: 45% 66%;
}
.howToProtect #protectImg5 {
  background-position: 2% 78%;
}
.howToProtect #protectImg6 {
  background-position: 86% 78%;
}

.liveUpdate {
  background: url(../img/subscribe-bg.jpg);
  background-size: cover;
}
.liveUpdate .formCtn {
  position: relative;
}
.liveUpdate #emailInput {
  background-color: #111D33;
  opacity: 0.7;
  border: 1px solid #243757;
  outline: none;
  font-size: 1rem;
  padding: 2rem;
  color: white;
}
.liveUpdate #subcribeBtn {
  font-size: 1.1rem;
  padding: 1.2rem;
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
}

.faq h6 {
  font-weight: bold;
}
.faq .collapsedSection .collapseItemsCtn {
  display: flex;
}
.faq .collapsedSection .collapseItems {
  flex-basis: 50%;
}
.faq .collapsedSection .collapseItems .collapseItem {
  display: grid;
  grid-template-columns: 1fr 9fr;
}
.faq .collapsedSection .collapseItems .collapseButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  background-color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq .collapsedSection .collapseItems .collapseButton.active {
  background-color: #dc3545;
  color: white;
  box-shadow: 0.1rem 0.1rem 1rem #ced4da;
}
.faq .collapsedSection .collapseItems .collapseContentCtn {
  padding: 0 1rem 1rem 1rem;
}
.faq .collapsedSection .collapseItems .collapseButton, .faq .collapsedSection .collapseItems h6 {
  cursor: pointer;
}

@media (max-width: 768px) {
  .howToProtect .d-flex.left {
    flex-direction: row;
    text-align: left;
  }
}
@media (max-width: 992px) {
  .liveUpdate .title {
    border: 1px solid red;
    text-align: center;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
  line-height: 1.5rem;
  overflow-x: hidden;
}

button:hover {
  color: #fae3e5;
  box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.5);
}

/*# sourceMappingURL=style.css.map */
