$navbar-dark-color:                 white;
$navbar-dark-hover-color:           $active-color;
$navbar-dark-active-color:          $active-color;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$active-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

header {
  background-image: url("../img/header-banner.jpg");
  width: 100%;

  h1 {
    font-size: 4rem;
  }

  h4 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.3rem;
  }

  .container {
    height: 100%;
  }

  &>div {
    background-image: url("../img/people.png");
    background-size: 40%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .nav-link {
    color: white;
  }

  .row:nth-child(2) {
    height: 90vh;
  }
}

.statistic {
  background: url("../img/statistics-bg.png");
  background-size: cover;
  .card {
    background: none;
  }

  #statisticImg1 {
    margin: 0 auto;
    overflow: hidden;
    width: 79px;
    height: 79px;
    background: url(../img/sprite-home.png);
    background-position: top left;
    transition: 0.1s background-position;
  
    &:hover {
      background-position: bottom left;
    }
  }

  #statisticImg2 {
    @extend #statisticImg1;
    background-position: 75px 0;

    &:hover {
      background-position: 75px 79px;
    }
  }

  #statisticImg3 {
    @extend #statisticImg1;
    background-position: 150px 0px;

    &:hover {
      background-position: 150px 79px;
    }
  }

  #statisticImg4 {
    @extend #statisticImg1;
    background-position: top right;

    &:hover {
      background-position: bottom right;
    }
  }
}

.whatis {
  box-shadow: inset  0  10px 20px -10px lightgray;
  padding-top: 6rem;
  padding-bottom: 5rem;
  img {
    max-width: 100%;
  }
}

